{{!-- Default
<section class="copyright"><a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}</section>
--}}

<section class="copyright"><a href="{{@site.url}}">{{@site.title}}</a>
2020 - {{date format="YYYY"}} <br>
<a href="/license-information/">
    <img style="height:15px!important;margin-left: 3px;vertical-align:text-bottom;" src="{{asset "assets/license-code/cc.svg"}}" />
    <img style="height:15px!important;margin-left: 3px;vertical-align:text-bottom;" src="{{asset "assets/license-code/by.svg"}}" />
    <img style="height:15px!important;margin-left: 3px;vertical-align:text-bottom;" src="{{asset "assets/license-code/nc.svg"}}" />
    <img style="height:15px!important;margin-left: 3px;vertical-align:text-bottom;" src="{{asset "assets/license-code/sa.svg"}}" />
</a> Unless otherwise stated.
</section>
