{{!-- Default Links
    <a href="{{@site.url}}">Latest Posts</a>
    {{#if @site.facebook}}<a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener">Facebook</a>{{/if}}
    {{#if @site.twitter}}<a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener">Twitter</a>{{/if}}
    <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
--}}

<a href="https://github.com/Kmutahar" title="Github" target="_blank" rel="noopener nofollow noreferrer">
    <img style="height:25px!important;margin-left: 3px;" src="{{asset "assets/line-awesome-1.3.0/github.svg"}}" />
</a>
<a href="https://www.linkedin.com/in/kmutahar" title="Linkedin" target="_blank" rel="noopener nofollow noreferrer">
    <img style="height:25px!important;margin-left: 3px;" src="{{asset "assets/line-awesome-1.3.0/linkedin.svg"}}" />
</a>
<a href="mailto:contact@mutahar.me" title="Email" target="_blank" rel="nonoopener nofollow noreferreropener">
    <img style="height:25px!important;margin-left: 3px;" src="{{asset "assets/line-awesome-1.3.0/at-solid.svg"}}" />
</a>
